#root {
  width: 100%;
  height: 100%;
}

.tudo{
  background-color: rgb(174, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 1rem;
  padding: 5px;
}

h1{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}